.app {
  padding: 20px;
}

.top-components {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  border: none;
  display: flex;
  padding: 0.6rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

button:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}

input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.2em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.modal {
  border: 1px solid gray;
  border-radius: 5px;
  z-index: 20;
  margin-top: 10px;
}
